body {
    font-family: Arial, sans-serif;
}

.carousel img {
    height: 400px;
    object-fit: cover;
}

#inicio {
    background-color: #f2f2f2;
}

.card {
    margin-bottom: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
}